<div>Hi <%= @contact.friend_name %>,</div></br>

<div>I recently joined Partake, a new service that provides unique, exclusive eating and drinking experiences for friends.
 It's free, it's easy to use and it simplifies planning a get-together.  If you sign up too, it will be easier for us to get together . . . so, give it a try!</div></br> 

<div>You can sign up here: <%= link_to "www.wepartake.com", "http://www.wepartake.com/"  %></div></br>

<div>Hope to see you on Partake soon,</div></br>

<div><%= @user.first_name %></div>