<div class="panel panel-default col-sm-12 col-md-5">
	<div class="panel-heading container">
		<i class="icon-large glyphicon glyphicon-envelope emailIcon"></i>
		<h4 class="panel-title">Invite Via Email</h4>
	</div>
	<div class="panel-body">
		<h5 class="emailOptions text-center"> <%= link_to image_tag("google.png", :border=>0, :class => 'mail'), "/contacts/gmail" %></h5>
		<h5 class="emailOptions text-center"> <%= link_to image_tag("windows.png", :border=>0, :class => 'mail'), "/contacts/hotmail" %></h5>
		<h5 class="emailOptions text-center"> <%= link_to image_tag("yahoo.png", :border=>0, :class => 'mail'), "/contacts/yahoo" %></h5>
	</div>
</div>