<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Partake--The best way for friends to go out.</title>

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="css/landing-page.css" rel="stylesheet">

</head>

<body>

    <%= render 'layouts/header' %> 
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Partake</h1>
                        <h3>The best way to go out with friends.</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h2 class="text-center">Partake is the best way for friends to grab dinner or drinks.</h2>
					<h4 class="text-center">It combines event planning, exclusive venue options and bill pay into one easy-to-use, free mobile application.</h4>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3 class="featureIcon icon-calendar"></h3>
					<h3 class="featureTitle">Simplify planning</h3>
					<h4 class="featureText">Quickly gather input and preferences from friends while reducing the back-and-forth over email, text or phone.</h4>
				</div>
				<div class="col-sm-4">
					<h3 class="featureIcon icon-heart"></h3>
					<h3 class="featureTitle">Enjoy the experience</h3>
					<h4 class="featureText">With a wide range of exclusive options from amazing venues, you can find something that everyone in your party will enjoy.</h4>
				</div>
				<div class="col-sm-4">
					<h3 class="featureIcon icon-credit"></h3>
					<h3 class="featureTitle">Reduce bill hassles</h3>
					<h4 class="featureText">No more waiting for the bill or trying to split it evenly. Just leave when you’re done and easily pay through your phone.</h4>
				</div>
			</div>
		</div>
	    <!-- /.container -->
	</div>
	<!-- /.content-section-a -->

   <%= render 'layouts/footer' %> 

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
