<div id="section wrap">
	<%= render 'layouts/header' %> 
	<div class="container mainBody">
		<div class="row">
			<div class="page-header">
			  <h3>Thanks for registering with Partake! Please check your email for a confirmation link so you can get started finding unique food and drink options to share with your friends.</h3>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/altfooter' %>