<div class="panel panel-default col-sm-12 col-md-5 fbHide">
	<div class="panel-heading container">
		<i class="icon-large icon-facebook fbIcon"></i>
		<h4 class="panel-title">Find Facebook friends on Partake</h4>
	</div>
	<div class="panel-body text-center">
		<h5>You've logged into Facebook, so we're already busy connecting you to your Facebook friends. You're set!</h5>
	</div>
</div>